<!-- {{ file_number }} -->

<!-- <h1>{{ file_record.file_number }}</h1>
<ul>
{% for choice in file_record.choice_set.all %}
    <li>{{ choice.choice_text}}</li>
{% endfor %}
</ul> -->

<h1>{{ file_record.file_number }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'voting_record_ui:votes' file_record.file_number %}" >
    {% csrf_token %}

    <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.file_number}}">
    <label for="choice{{ forloop.counter }}">{{ file_record.title}}</label><br>
    <input type="submit" value="Votes">
</form>