<!-- {{ file_number }} -->

<!-- <h1>{{ file_record.file_number }}</h1>
<ul>
{% for choice in file_record.choice_set.all %}
    <li>{{ choice.choice_text}}</li>
{% endfor %}
</ul> -->

<h1>{{ alder }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table>
    <tr>
        <th>'Ordinance Description'</th>
        <th>'Vote'</td>
    </tr>
{% if file_metas %}
    {% for f1,f2 in file_metas %}
    <tr>
        
        <td><a href="{% url 'voting_record_ui:votes' f1.file_number %}">{{ f1.title }}</a></td>
        <td>{{ f2 }}</td>
        
    </tr>
    {% endfor %}
{% else %}
    <p> No votes are available.</p>
{% endif %}
</table>

