[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
selenium = "*"
scrapy = "*"
pandas = "*"
jupyter = "*"
multiprocess = "*"
matplotlib = "*"
nltk = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.7"
